{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div>
        <h3>{{ user.username }}'s profile</h3>
    </div>
    <div>
        <h4>Informations</h4>

        <table>
            <tr>
                <td>Username : </td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Firstname : </td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Lastname : </td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>E-mail : </td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        <h4>Results</h4>
        {% if results %}

            {% for result in results %}
            <div class="border rounded mt-5 p-2">
            <h2 class="">{{ result.IDGame.name }}</h2>
            <p>{{ result.IDGame.date|date:"d.m.Y" }}</p>
            <p>Winner : {{ result.IDGame.winner }}</p>
            <p>{{user.username}}'s score : {{ result.score }}</p>

            </div>
            {% endfor %}
        {% else %}

        <h1>There are currently no Results</h1>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}