{% extends "main/base.html" %}
{% block content %}

<style>
#container {
    display: flex;
}

#game_table {
    padding-right: 50px;
}

#chat-log, #chat-message-input {
    width:400px;
}
</style>

<div id="container">
    <div id="game_table">
        <div >
            <p id="score">Scores</p>
            <!--TODO : Add dynamic scores of actives players-->
        </div>
        <h4 id="active_player">Lel's turn</h4> <!--TODO : Add current player's name in lieu of Lel-->
        <canvas id="dice_table" width="1000" height="300"></canvas><br>
        <button>Grelotte ça picote !</button>
        <button>Pas mou le caillou !</button>
        <input type="button" value="Throw dices" id="dice_throw">

        <script>
        function setCnvText(text, x, y){
            let diceTable = document.getElementById("dice_table");
            let ctx = diceTable.getContext("2d");
            ctx.fillStyle = "#FF0000";
            ctx.fillRect(0,0,1000,300);
            ctx.font = "50px Arial";
            ctx.fillStyle = "#FFFFFF";
            ctx.fillText(text, x, y);
        }
            setCnvText("Replaced by rolling dices asap", 150, 150)
        </script>
    </div>

    <div id="chat">
        {% comment %} <h4 id="connectionName"></h4> {% endcomment %}
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
        {{ user |json_script:"user" }}
        {{ users |json_script:"users"}}

        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            user = JSON.parse(document.getElementById('user').textContent);
            user = JSON.parse(user);
            const username = user.fields.username;
            const id = user.pk
            {% comment %} document.querySelector('#connectionName').textContent ="Connected as "+username; {% endcomment %}
            
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if(data.type == "chat_message"){
                    document.querySelector('#chat-log').value += (data.message + '\n');
                }
                else if(data.type == "config_message")
                {
                    document.querySelector('#score').textContent = data.message;
                    document.querySelector('#active_player').textContent = data.active_player + "'s turn";
                    
                    if(data.active_player != username)
                    {
                        document.querySelector('#dice_throw').disabled = true;
                    }
                    else 
                    {
                        document.querySelector('#dice_throw').disabled = false;
                    }
                }
                else if (data.type == "game_message")
                {
                    setCnvText(data.dices, 150, 150)
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = "["+username+"]"+messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'type': 'chat_message'
                }));
                messageInputDom.value = '';
            };

            document.querySelector('#dice_throw').onclick = function(e){   
                chatSocket.send(JSON.stringify({
                    'message': 'throw_dices',
                    'type': 'game_message'
                }));
            };
        </script>
    </div>
</div>
{% endblock content %}