{% extends "main/base.html" %}
{% block content %}
<div>
  {% if games %}

    {% for game in games %}
    <div class="border rounded mt-5 p-2">
      <h2 class="">{{ game.name }}</h2>
      <p>{{ game.date|date:"d.m.Y" }}</p>
      <a class="btn btn-outline-info" href="{% url 'game' room_name=game.id.hex %}">Join</a>
    </div>
    {% endfor %}
  {% else %}

  <h1>There are currently no games</h1>
  {% endif %}

  <div>
    <a href="{% url 'create' %}">Create new Game</a>
  </div>
</div>
{% endblock content %}